---
// Footer.astro
---

<section class="relative max-w-[1860px] mx-auto px-0 xl:px-8 overflow-hidden">
    <div class="bg-[#5C2078] lg:pl-12 pl-4 max-lg:pl-0 grid grid-cols-1 lg:grid-cols-3 relative rounded-bl-[100px] max-lg:rounded-br-[100px]">
        
        <!-- Logo and About Section -->
        <div class="space-y-3 py-12 lg:py-20 px-4 lg:px-0  max-lg:flex max-lg:flex-col max-lg:justify-center max-lg:items-center max-lg:py-0">
            <img 
                src="/footer-logo.png" 
                alt="Complete Chiropractic" 
                class="w-[200px] lg:w-[249px] h-auto lg:h-[101px] mb-8 lg:mb-12 max-lg:pt-6"
            />
            <p class="text-[#D9D9D9] leading-relaxed text-base lg:text-[18px] w-full lg:w-[90%] mb-5 max-lg:text-center">
                As the leading chiropractic clinic in Sydney's Northern Beaches, our chiropractors have an extensive range of experience across multiple treatment modalities.
            </p>
            <!-- Updated Booking Button -->
            <a href="#" onclick="window.location.href='https://clinic27intake.bookings.pracsuite.com/guest?l=1949&_gl=1*16y1as*_ga*MTUzNzgzNjczOS4xNzM0Njk4NTMw*_ga_J0YJHQLKE6*MTczNzQ2MTIxNy4xOC4wLjE3Mzc0NjEyMTcuNjAuMC4w'; return false;" class="inline-flex items-center text-lg lg:text-xl text-white hover:underline">
                Make a Booking 
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 lg:h-7 lg:w-7 mt-2 ml-2" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </a>
            <div class="flex space-x-4 pt-6">
                <a href="https://web.facebook.com/completechirody" target="_blank" rel="noopener noreferrer" class="text-darkpurple rounded-full w-8 h-8 flex justify-center items-center bg-white hover:opacity-80">
                    <span class="sr-only">Facebook</span>
                    <svg class="w-5 h-5 lg:w-6 lg:h-6" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z"/>
                    </svg>
                </a>
                <a href="https://www.google.com/maps/place/Complete+Chiropractic+Dee+Why/@-33.752425,151.284896,15z/data=!4m6!3m5!1s0x6b12aa88efcbbf11:0x57dfecc11b276051!8m2!3d-33.752425!4d151.284896!16s%2Fg%2F1thsg1zl?entry=ttu&g_ep=EgoyMDI1MDIxNy4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer" class="text-darkpurple rounded-full w-8 h-8 flex justify-center items-center bg-white hover:opacity-80">
                    <span class="sr-only">Google Maps</span>
                    <svg class="w-5 h-5 lg:w-6 lg:h-6 ml-2" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M7.635 10.909v2.619h4.335c-.173 1.125-1.31 3.295-4.335 3.295-2.607 0-4.735-2.16-4.735-4.823s2.127-4.823 4.735-4.823c1.486 0 2.479.633 3.045 1.178l2.073-1.994c-1.33-1.245-3.056-1.995-5.118-1.995C3.412 4.365 0 7.785 0 12s3.413 7.635 7.635 7.635c4.41 0 7.332-3.098 7.332-7.461 0-.501-.054-.885-.12-1.265H7.635z"/>
                    </svg>
                </a>
            </div>
        </div>

        <!-- Links and Contact Section -->
        <div class="flex flex-col lg:flex-row py-8 lg:py-20 lg:pt-36 gap-8 lg:gap-16 px-4 lg:px-0 ">
            <nav class="text-[#D9D9D9]">
                <h2 class="text-xl lg:text-2xl font-semibold mb-4 lg:mb-6 lg:-translate-x-5 max-lg:text-center">Main Links</h2>
                <ul class="space-y-2 lg:space-y-3 lg:list-disc p-0 text-base max-lg:text-center lg:text-[18px]">
                    <li><a href="/contact-us" class="hover:underline">Contact Us</a></li>
                    <li><a href="/about-us" class="hover:underline">About Us</a></li>
                    <li><a href="/our-approach" class="hover:underline">Our Approach</a></li>
                    <li><a href="/meet-our-team" class="hover:underline">Our Team</a></li>
                    <li><a href="/media" class="hover:underline">Helpful Videos</a></li>
                    <li><a href="https://sydneychiropractorcbd.com.au/" class="hover:underline">Visit Our City Clinic</a></li>
                </ul>
            </nav>
            <div class="space-y-2 lg:text-[20px] text-lg max-lg:text-center text-[#D9D9D9] lg:mt-16">
                <p>Ph: (02) 9972 0040</p>
                <p class="pb-4 lg:pb-9">ABN: 73 657 776 022</p>
                <p class="mt-2 lg:mt-4">
                    1/32 Fisher Rd,<br />
                    Dee Why NSW 2099
                </p>
            </div>
        </div>

        <!-- Newsletter Section - Full width on mobile and md -->
        <div class="bg-[#73378E] col-span-1 lg:col-span-1 pb-12 pt-8 lg:py-20 px-10  lg:px-11 max-lg:rounded-b-[100px]">
            <h2 class="text-[#D9D9D9]  max-lg:text-center lg:text-[29px] text-2xl font-semibold mb-6 mt-0 lg:mt-10">
                Join Our Newsletter
            </h2>
            <form action="https://usebasin.com/f/5a7ccb151170" id="newsletter_form" class="space-y-7 max-w-md lg:max-w-full mx-auto lg:mx-0 max-lg:flex-col max-lg:justify-center max-lg:items-center" accept-charset="UTF-8" autocomplete="on" method="post">
                <input 
                    type="text"
                    placeholder="Your first name"
                    class="w-full px-5 lg:px-7 py-4 lg:py-5 rounded-t-2xl bg-[#814a98] text-white text-lg lg:text-xl placeholder-gray-300 border-none focus:outline-none focus:ring-0"
                    required
                />
                <input 
                    type="email"
                    placeholder="Enter your email"
                    class="w-full px-5 lg:px-7 py-4 lg:py-5 rounded-lg rounded-t-2xl bg-[#814a98] text-lg lg:text-xl text-white placeholder-gray-300 border-none focus:outline-none focus:ring-0"
                    required
                />
                <div class=" max-lg:w-full max-lg:flex max-lg:justify-center">
                     <button class="bg-primary text-white text-nowrap px-4 lg:px-6 translate-y-2.5 py-2 flex justify-center items-center w-[214px] h-[60px] font-bold text-lg rounded-2xl rounded-bl-none">
                        <img src="/calendar.svg" alt="Logo" class="h-4 lg:h-5 mt-0.5 mr-3 w-auto" />
                        Sign Up Now!
                    </button>
                </div>
            </form>
        </div>

    </div>
    <div class=" text-darkpurple  py-4 w-full text-center">© Complete Chiropractic Dee Why | All rights reserved</div>
</section>
